#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
}

.CardView{
  width: 280px;
  height: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  /* padding: 20px; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
}

.image{
  width: 280px;
  height: 250px;
}

.App{
  display: flex;
  width: 30px;
}